In [1]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\vonke\anaconda3\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [23]:
#Importing our defined functions
from clean_data_functions import *

In [24]:
import pandas as pd

url = 'https://raw.githubusercontent.com/johann1043/Data-Science-Quest/main/jobs_in_data.csv'
data_science_df = pd.read_csv(url)

# Cleaning first Data Frame

In [25]:
#Getting initial overview of data frame
data_frame_overview(data_science_df)

Column names:
 Index(['work_year', 'job_title', 'job_category', 'salary_currency', 'salary',
       'salary_in_usd', 'employee_residence', 'experience_level',
       'employment_type', 'work_setting', 'company_location', 'company_size'],
      dtype='object')

Dimensions: (9355, 12)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9355 entries, 0 to 9354
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           9355 non-null   int64
 1   job_title           9355 non-null   object
 2   job_category        9355 non-null   object
 3   salary_currency     9355 non-null   object
 4   salary              9355 non-null   int64
 5   salary_in_usd       9355 non-null   int64
 6   employee_residence  9355 non-null   object
 7   experience_level    9355 non-null   object
 8   employment_type     9355 non-null   object
 9   work_setting        9355 non-null   object
 10  company_location    9355 non-null   object
 11  company_size        9355 non-null   object
dtypes: int64(3), object(9)
memory usage: 877.2+ KB
None

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M
5,2023,Data Scientist,Data Science and Research,USD,130000,130000,United States,Senior,Full-time,Remote,United States,M
6,2023,Data Scientist,Data Science and Research,USD,100000,100000,United States,Senior,Full-time,Remote,United States,M
7,2023,Machine Learning Researcher,Machine Learning and AI,USD,224400,224400,United States,Mid-level,Full-time,In-person,United States,M
8,2023,Machine Learning Researcher,Machine Learning and AI,USD,138700,138700,United States,Mid-level,Full-time,In-person,United States,M
9,2023,Data Engineer,Data Engineering,USD,210000,210000,United States,Executive,Full-time,Remote,United States,M

In [26]:
#Applying the reformatting the names of the columns
column_name_mapping = {'work_year' : 'year', 'employee_residence' : 'country'}

format_column_names(data_science_df, column_name_mapping)

New column names:
 Index(['year', 'job_title', 'job_category', 'salary_currency', 'salary',
       'salary_in_usd', 'country', 'experience_level', 'employment_type',
       'work_setting', 'company_location', 'company_size'],
      dtype='object')

In [27]:
null_check(data_science_df)

Total null values per row:
0       0
1       0
2       0
3       0
4       0
       ..
9350    0
9351    0
9352    0
9353    0
9354    0
Length: 9355, dtype: int64

Total null values per column:
year                0
job_title           0
job_category        0
salary_currency     0
salary              0
salary_in_usd       0
country             0
experience_level    0
employment_type     0
work_setting        0
company_location    0
company_size        0
dtype: int64

In [28]:
dup_check(data_science_df)

Duplicates found: True

Number of duplicates: 4014

In [30]:
duplicates = data_science_df.duplicated(keep=False)

duplicate_rows = data_science_df.loc[duplicates]
print(duplicate_rows)

      year       job_title                    job_category salary_currency  \
1     2023  Data Architect  Data Architecture and Modeling             USD
2     2023  Data Architect  Data Architecture and Modeling             USD
3     2023  Data Scientist       Data Science and Research             USD
4     2023  Data Scientist       Data Science and Research             USD
5     2023  Data Scientist       Data Science and Research             USD
...    ...             ...                             ...             ...
9081  2022   Data Engineer                Data Engineering             USD
9137  2021   Data Engineer                Data Engineering             USD
9214  2021   Data Engineer                Data Engineering             USD
9280  2021  Data Scientist       Data Science and Research             EUR
9314  2021  Data Scientist       Data Science and Research             EUR

      salary  salary_in_usd        country experience_level employment_type  \
1     186000         186000  United States           Senior       Full-time
2      81800          81800  United States           Senior       Full-time
3     212000         212000  United States           Senior       Full-time
4      93300          93300  United States           Senior       Full-time
5     130000         130000  United States           Senior       Full-time
...      ...            ...            ...              ...             ...
9081  115000         115000  United States           Senior       Full-time
9137  200000         200000  United States        Mid-level       Full-time
9214  200000         200000  United States        Mid-level       Full-time
9280   76760          90734        Germany        Mid-level       Full-time
9314   76760          90734        Germany        Mid-level       Full-time

     work_setting company_location company_size
1       In-person    United States            M
2       In-person    United States            M
3       In-person    United States            M
4       In-person    United States            M
5          Remote    United States            M
...           ...              ...          ...
9081       Remote    United States            M
9137       Remote    United States            L
9214       Remote    United States            L
9280       Hybrid          Germany            L
9314       Hybrid          Germany            L

[5455 rows x 12 columns]

In [33]:
drop_dup_reset(data_science_df)

Deleted 4014 duplicates

,year,job_title,job_category,salary_currency,salary,salary_in_usd,country,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M
...,...,...,...,...,...,...,...,...,...,...,...,...
5336,2021,Data Specialist,Data Management and Strategy,USD,165000,165000,United States,Senior,Full-time,Remote,United States,L
5337,2020,Data Scientist,Data Science and Research,USD,412000,412000,United States,Senior,Full-time,Remote,United States,L
5338,2021,Principal Data Scientist,Data Science and Research,USD,151000,151000,United States,Mid-level,Full-time,Remote,United States,L
5339,2020,Data Scientist,Data Science and Research,USD,105000,105000,United States,Entry-level,Full-time,Remote,United States,S
5340,2020,Business Data Analyst,Data Analysis,USD,100000,100000,United States,Entry-level,Contract,Remote,United States,L

In [36]:
data_science_df = data_science_df.drop(['job_title', 'salary_currency','salary','company_location','company_size'], axis=1)
data_science_df

,year,job_category,salary_in_usd,country,experience_level,employment_type,work_setting
0,2023,Data Engineering,95012,Germany,Mid-level,Full-time,Hybrid
1,2023,Data Architecture and Modeling,186000,United States,Senior,Full-time,In-person
2,2023,Data Architecture and Modeling,81800,United States,Senior,Full-time,In-person
3,2023,Data Science and Research,212000,United States,Senior,Full-time,In-person
4,2023,Data Science and Research,93300,United States,Senior,Full-time,In-person
...,...,...,...,...,...,...,...
5336,2021,Data Management and Strategy,165000,United States,Senior,Full-time,Remote
5337,2020,Data Science and Research,412000,United States,Senior,Full-time,Remote
5338,2021,Data Science and Research,151000,United States,Mid-level,Full-time,Remote
5339,2020,Data Science and Research,105000,United States,Entry-level,Full-time,Remote
5340,2020,Data Analysis,100000,United States,Entry-level,Contract,Remote

In [42]:
data_science_df = data_science_df[data_science_df['employment_type'] == 'Full-time']
data_science_df

,year,job_category,salary_in_usd,country,experience_level,employment_type,work_setting
0,2023,Data Engineering,95012,Germany,Mid-level,Full-time,Hybrid
1,2023,Data Architecture and Modeling,186000,United States,Senior,Full-time,In-person
2,2023,Data Architecture and Modeling,81800,United States,Senior,Full-time,In-person
3,2023,Data Science and Research,212000,United States,Senior,Full-time,In-person
4,2023,Data Science and Research,93300,United States,Senior,Full-time,In-person
...,...,...,...,...,...,...,...
5335,2021,Data Engineering,28369,Malta,Mid-level,Full-time,Hybrid
5336,2021,Data Management and Strategy,165000,United States,Senior,Full-time,Remote
5337,2020,Data Science and Research,412000,United States,Senior,Full-time,Remote
5338,2021,Data Science and Research,151000,United States,Mid-level,Full-time,Remote
5339,2020,Data Science and Research,105000,United States,Entry-level,Full-time,Remote

In [43]:
data_science_df = data_science_df.drop(['employment_type'], axis=1)
data_science_df

,year,job_category,salary_in_usd,country,experience_level,work_setting
0,2023,Data Engineering,95012,Germany,Mid-level,Hybrid
1,2023,Data Architecture and Modeling,186000,United States,Senior,In-person
2,2023,Data Architecture and Modeling,81800,United States,Senior,In-person
3,2023,Data Science and Research,212000,United States,Senior,In-person
4,2023,Data Science and Research,93300,United States,Senior,In-person
...,...,...,...,...,...,...
5335,2021,Data Engineering,28369,Malta,Mid-level,Hybrid
5336,2021,Data Management and Strategy,165000,United States,Senior,Remote
5337,2020,Data Science and Research,412000,United States,Senior,Remote
5338,2021,Data Science and Research,151000,United States,Mid-level,Remote
5339,2020,Data Science and Research,105000,United States,Entry-level,Remote

# Cleaning second Data Frame

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/johann1043/Data-Science-Quest/main/jobs_in_data.csv'
global__df = pd.read_csv(url)