In [ ]:
pip install xlrd

In [ ]:
#Importing our defined functions
from clean_data_functions import *

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/johann1043/Data-Science-Quest/main/jobs_in_data.csv'
data_science_df = pd.read_csv(url)

# Cleaning data_science Data Frame

In [ ]:
#Getting initial overview of data frame
data_frame_overview(data_science_df)

In [ ]:
#Applying the reformatting the names of the columns
column_name_mapping = {'work_year' : 'year', 'employee_residence' : 'country'}

format_column_names(data_science_df, column_name_mapping)

In [ ]:
null_check(data_science_df)

In [ ]:
# dup_check(data_science_df)

In [ ]:
# duplicates = data_science_df.duplicated(keep=False)

# duplicate_rows = data_science_df.loc[duplicates]
# print(duplicate_rows)

In [ ]:
# drop_dup_reset(data_science_df)

In [ ]:
data_science_df = data_science_df.drop(['job_title', 'salary_currency','salary','company_location','company_size'], axis=1)
data_science_df

In [ ]:
data_science_df = data_science_df[data_science_df['employment_type'] == 'Full-time']
data_science_df

In [ ]:
data_science_df = data_science_df.drop(['employment_type'], axis=1)
data_science_df

# Cleaning global_salary Data Frame

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/johann1043/Data-Science-Quest/main/salary_data.csv'
global_salary_df = pd.read_csv(url)

In [ ]:
global_salary_df

In [ ]:
#Getting initial overview of data frame
data_frame_overview(global_salary_df)

In [ ]:
#Applying the reformatting the names of the columns
column_name_mapping = {'country_name' : 'country', 'average_salary': 'global_average_salary'}

format_column_names(global_salary_df, column_name_mapping)

In [ ]:
null_check(global_salary_df)

In [ ]:
dup_check(global_salary_df)

In [ ]:
global_salary_df = global_salary_df.drop(['continent_name', 'wage_span','median_salary','lowest_salary','highest_salary'], axis=1)
global_salary_df

In [ ]:
global_salary_df['global_average_salary'] = global_salary_df['global_average_salary'].map(lambda x: x * 12).round(0)
global_salary_df

In [ ]:
country_list = data_science_df['country'].unique()

In [ ]:
for country in country_list:
    # Check if the country is in the 'country' column of global_salary_df
    if country in global_salary_df['country'].values:
        True
    else:
        print(f'Cannot find {country}.')

# Merge the two Data Frames and export

In [ ]:
# Merge DataFrames on the common column
clean_data_df = pd.merge(data_science_df, global_salary_df, on='country', how='inner')
clean_data_df

In [ ]:
# Export
# clean_data_df.to_csv('clean_data.csv', index=False)

# Create Tables

In [ ]:
clean_data_df.reset_index(inplace=True)

In [247]:
clean_data_df

,index,year,job_category,salary_in_usd,country,experience_level,work_setting,global_average_salary,global_salary_id,country_id
0,0,2023,Data Engineering,95012,Germany,Mid-level,Hybrid,48584.0,55,26
1,1,2023,Data Analysis,42107,Germany,Mid-level,Hybrid,48584.0,55,26
2,2,2023,Machine Learning and AI,64781,Germany,Senior,Hybrid,48584.0,55,26
3,3,2023,Machine Learning and AI,129562,Germany,Senior,Remote,48584.0,55,26
4,4,2023,Data Engineering,107968,Germany,Senior,Remote,48584.0,55,26
...,...,...,...,...,...,...,...,...,...,...
9302,9302,2020,Data Engineering,125000,New Zealand,Senior,Hybrid,58441.0,63,48
9303,9303,2021,Data Engineering,66022,Hong Kong,Mid-level,Hybrid,56245.0,62,30
9304,9304,2020,Machine Learning and AI,45896,Denmark,Entry-level,Hybrid,69348.0,69,19
9305,9305,2021,Data Analysis,59102,Luxembourg,Entry-level,Remote,62537.0,68,41
9306,9306,2021,Data Engineering,28369,Malta,Mid-level,Hybrid,58858.0,65,43

## Create global_average_salary table

In [ ]:
global_average_salary = sorted(list(clean_data_df['global_average_salary'].unique()))
global_average_salary

In [ ]:
global_salary_id = list(range(1,len(global_average_salary)+1))
global_salary_id

In [ ]:
global_average_salary_mapping = dict(zip(global_average_salary,global_salary_id))
global_average_salary_mapping

In [ ]:
clean_data_df['global_salary_id'] = clean_data_df['global_average_salary'].map(global_average_salary_mapping)

In [ ]:
clean_data_df['global_salary_id']

In [ ]:
global_average_salary_dict = {'global_salary_id':global_salary_id, 'global_average_salary':global_average_salary}
global_average_salary_df = pd.DataFrame(global_average_salary_dict)
global_average_salary_df

In [ ]:
# global_average_salary_df.to_csv("global_average_salary.csv")

## Create country table

In [ ]:
country_df = clean_data_df[['country','global_salary_id']]

In [ ]:
country_df.drop_duplicates(inplace=True)

In [ ]:
country_df.reset_index(inplace=True,drop=True)

In [ ]:
country_df = country_df.sort_values(by='country')

In [ ]:
country_df.reset_index(inplace=True,drop=True)

In [ ]:
country_df['country_id'] = list(range(1,len(country_df)+1))

In [ ]:
country_df

In [ ]:
country = country_df['country']
country

In [ ]:
country_id = country_df['country_id']
country_id

In [ ]:
country_mapping = dict(zip(country,country_id))
country_mapping

In [ ]:
clean_data_df['country_id'] = clean_data_df['country'].map(country_mapping)

In [ ]:
clean_data_df

In [ ]:
# country_df.to_csv("country.csv")

## Create job table

In [248]:
job_df = clean_data_df[['job_category','experience_level']]

In [249]:
job_df

                 job_category experience_level
0            Data Engineering        Mid-level
1               Data Analysis        Mid-level
2     Machine Learning and AI           Senior
3     Machine Learning and AI           Senior
4            Data Engineering           Senior
...                       ...              ...
9302         Data Engineering           Senior
9303         Data Engineering        Mid-level
9304  Machine Learning and AI      Entry-level
9305            Data Analysis      Entry-level
9306         Data Engineering        Mid-level

[9307 rows x 2 columns]

In [250]:
job_df.drop_duplicates(inplace=True)

C:\Users\vonke\AppData\Local\Temp\ipykernel_11028\1880147904.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_df.drop_duplicates(inplace=True)

In [251]:
job_df.reset_index(inplace=True,drop=True)

In [252]:
job_df = job_df.sort_values(by='job_category')

In [253]:
job_df.reset_index(inplace=True,drop=True)

In [254]:
job_df['job_id'] = list(range(1,len(job_df)+1))

In [255]:
job_df

                      job_category experience_level  job_id
0             BI and Visualization        Mid-level       1
1             BI and Visualization           Senior       2
2             BI and Visualization        Executive       3
3             BI and Visualization      Entry-level       4
4               Cloud and Database           Senior       5
5                    Data Analysis           Senior       6
6                    Data Analysis        Executive       7
7                    Data Analysis      Entry-level       8
8                    Data Analysis        Mid-level       9
9   Data Architecture and Modeling        Mid-level      10
10  Data Architecture and Modeling           Senior      11
11  Data Architecture and Modeling        Executive      12
12                Data Engineering        Executive      13
13                Data Engineering           Senior      14
14                Data Engineering      Entry-level      15
15                Data Engineering        Mid-level      16
16    Data Management and Strategy           Senior      17
17    Data Management and Strategy        Mid-level      18
18    Data Management and Strategy      Entry-level      19
19     Data Quality and Operations        Mid-level      20
20     Data Quality and Operations           Senior      21
21     Data Quality and Operations      Entry-level      22
22       Data Science and Research        Executive      23
23       Data Science and Research      Entry-level      24
24       Data Science and Research        Mid-level      25
25       Data Science and Research           Senior      26
26       Leadership and Management           Senior      27
27       Leadership and Management      Entry-level      28
28       Leadership and Management        Executive      29
29       Leadership and Management        Mid-level      30
30         Machine Learning and AI      Entry-level      31
31         Machine Learning and AI        Mid-level      32
32         Machine Learning and AI        Executive      33
33         Machine Learning and AI           Senior      34

In [256]:
job_category = job_df['job_category']
job_category

0               BI and Visualization
1               BI and Visualization
2               BI and Visualization
3               BI and Visualization
4                 Cloud and Database
5                      Data Analysis
6                      Data Analysis
7                      Data Analysis
8                      Data Analysis
9     Data Architecture and Modeling
10    Data Architecture and Modeling
11    Data Architecture and Modeling
12                  Data Engineering
13                  Data Engineering
14                  Data Engineering
15                  Data Engineering
16      Data Management and Strategy
17      Data Management and Strategy
18      Data Management and Strategy
19       Data Quality and Operations
20       Data Quality and Operations
21       Data Quality and Operations
22         Data Science and Research
23         Data Science and Research
24         Data Science and Research
25         Data Science and Research
26         Leadership and Management
27         Leadership and Management
28         Leadership and Management
29         Leadership and Management
30           Machine Learning and AI
31           Machine Learning and AI
32           Machine Learning and AI
33           Machine Learning and AI
Name: job_category, dtype: object

In [257]:
job_id = job_df['job_id']
job_id

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
Name: job_id, dtype: int64

In [259]:
experience_level = job_df['experience_level']
experience_level

0       Mid-level
1          Senior
2       Executive
3     Entry-level
4          Senior
5          Senior
6       Executive
7     Entry-level
8       Mid-level
9       Mid-level
10         Senior
11      Executive
12      Executive
13         Senior
14    Entry-level
15      Mid-level
16         Senior
17      Mid-level
18    Entry-level
19      Mid-level
20         Senior
21    Entry-level
22      Executive
23    Entry-level
24      Mid-level
25         Senior
26         Senior
27    Entry-level
28      Executive
29      Mid-level
30    Entry-level
31      Mid-level
32      Executive
33         Senior
Name: experience_level, dtype: object

In [261]:
job_mapping = dict(zip(zip(job_df['job_category'], job_df['experience_level']), job_df['job_id']))
job_mapping

{('BI and Visualization', 'Mid-level'): 1,
 ('BI and Visualization', 'Senior'): 2,
 ('BI and Visualization', 'Executive'): 3,
 ('BI and Visualization', 'Entry-level'): 4,
 ('Cloud and Database', 'Senior'): 5,
 ('Data Analysis', 'Senior'): 6,
 ('Data Analysis', 'Executive'): 7,
 ('Data Analysis', 'Entry-level'): 8,
 ('Data Analysis', 'Mid-level'): 9,
 ('Data Architecture and Modeling', 'Mid-level'): 10,
 ('Data Architecture and Modeling', 'Senior'): 11,
 ('Data Architecture and Modeling', 'Executive'): 12,
 ('Data Engineering', 'Executive'): 13,
 ('Data Engineering', 'Senior'): 14,
 ('Data Engineering', 'Entry-level'): 15,
 ('Data Engineering', 'Mid-level'): 16,
 ('Data Management and Strategy', 'Senior'): 17,
 ('Data Management and Strategy', 'Mid-level'): 18,
 ('Data Management and Strategy', 'Entry-level'): 19,
 ('Data Quality and Operations', 'Mid-level'): 20,
 ('Data Quality and Operations', 'Senior'): 21,
 ('Data Quality and Operations', 'Entry-level'): 22,
 ('Data Science and Research', 'Executive'): 23,
 ('Data Science and Research', 'Entry-level'): 24,
 ('Data Science and Research', 'Mid-level'): 25,
 ('Data Science and Research', 'Senior'): 26,
 ('Leadership and Management', 'Senior'): 27,
 ('Leadership and Management', 'Entry-level'): 28,
 ('Leadership and Management', 'Executive'): 29,
 ('Leadership and Management', 'Mid-level'): 30,
 ('Machine Learning and AI', 'Entry-level'): 31,
 ('Machine Learning and AI', 'Mid-level'): 32,
 ('Machine Learning and AI', 'Executive'): 33,
 ('Machine Learning and AI', 'Senior'): 34}

In [262]:
def map_job_id(row):
    return job_mapping.get((row['job_category'], row['experience_level']))

clean_data_df['job_id'] = clean_data_df.apply(map_job_id, axis=1)

In [263]:
clean_data_df

,index,year,job_category,salary_in_usd,country,experience_level,work_setting,global_average_salary,global_salary_id,country_id,job_id
0,0,2023,Data Engineering,95012,Germany,Mid-level,Hybrid,48584.0,55,26,16
1,1,2023,Data Analysis,42107,Germany,Mid-level,Hybrid,48584.0,55,26,9
2,2,2023,Machine Learning and AI,64781,Germany,Senior,Hybrid,48584.0,55,26,34
3,3,2023,Machine Learning and AI,129562,Germany,Senior,Remote,48584.0,55,26,34
4,4,2023,Data Engineering,107968,Germany,Senior,Remote,48584.0,55,26,14
...,...,...,...,...,...,...,...,...,...,...,...
9302,9302,2020,Data Engineering,125000,New Zealand,Senior,Hybrid,58441.0,63,48,14
9303,9303,2021,Data Engineering,66022,Hong Kong,Mid-level,Hybrid,56245.0,62,30,16
9304,9304,2020,Machine Learning and AI,45896,Denmark,Entry-level,Hybrid,69348.0,69,19,31
9305,9305,2021,Data Analysis,59102,Luxembourg,Entry-level,Remote,62537.0,68,41,8
9306,9306,2021,Data Engineering,28369,Malta,Mid-level,Hybrid,58858.0,65,43,16

In [ ]:
# job_df.to_csv("job.csv")